/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif; /* Change the font to Manrope */
    color: #ffffff;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    min-height: 100vh; /* Set a minimum height to fill the viewport */
    background: radial-gradient(circle, #78b27f, #c4d6c6); /* Circular ombre background */
}

.page-heading {
    font-size: 50px !important; /* Larger font size */
    margin-top: 20px; /* Add margin from the top */
    margin-left: 20px; /* Align to the left */
    position: absolute; /* Position the text absolutely */
    top: 100px; /* Distance from the top */
    left: 20px; /* Distance from the left */
}

/* Navigation Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px; /* Increase the padding on the sides */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #78b27f;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

/* Main Content Styles */
.main-content {
    text-align: center;
    margin-top: 80px; /* Adjust as needed based on the heading size */
}

.main-heading {
    font-size: 48px;
    color: #ffffff;
}

.sub-heading {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}


/*text*/
/* Smaller Text Styles */
.product-description {
    font-size: 14px; /* Set the font size for the smaller text */
    color: #ffffff; /* Set the text color */
    margin-top: 5px; /* Add margin from the top */
}


/* Button Styles */
.round-btn, .products-btn, #chat-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.round-btn {
    background-color: #ffffff;
    color: #78b27f;
}

.round-btn:hover {
    background-color: #b67093;
}

#chat-button {
    background-color: #c4d6c6;
    color: white;
    border: none;
    padding: 20px 40px; /* Increase padding for larger size */
    border-radius: 200px; /* Make the button larger and round */
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#chat-button:hover {
    background-color: #78b27f;
}

/* images */
.product img {
    max-width: 30%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Maintain the aspect ratio of the image */
}